{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block content %}
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block "></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome, Login to start your session!</h1>
                                    </div>
                                      {% if form.errors %}
                                      <p>Your username or password didn't match. Please try again.</p>
                                      {% else %}
                                      <p>Please fill your details in the form below:</p>
                                      {% endif %}
                                      

                                    <form class="user" method="post" action="{% url 'login' %}">

                                        <div class="form-group">

                                          {{form.as_p }}
                                          {% csrf_token %}
                                        </div>
                                        
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Login">
                                          
                                        
                                        
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                       <p>Create an Account! <a class="small" href="{% url 'register' %}">Register</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
<!--
<div class="wrapper">
  <h1>Login</h1>
  {% if form.errors %}
  <p>Your username or password didn't match. Please try again.</p>
  {% else %}
  <p>Please fill your details in the form below:</p>
  {% endif %}
  <form class="form-container" action="{% url 'login' %}" method="post">
    {{form.as_p }}
    <input type="hidden" name="next" value="{{next}}" />
    <p><input type="submit" value="Login" /></p>
    <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
    <p>Don't have an account?<a href="{% url 'register' %}">register</a></p>
    {% csrf_token %}
  </form>
</div>
-->
{% endblock %}
