{% load static %}

    <div id="header">
        <span class="logo">Event Tracker</span>
        {% if request.user.is_authenticated %}
     
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}

            Hello {{request.user.first_name}},<br>
            <img src="{% static 'image/id0.jpg' %}" alt="user">
            <a href="#">Edit</a>
            {%else%}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </span>
    </div>
    {% if messages %}
    <ul class="messages">
        {%for message in messages %}
        <li class="{{message.tags}}">
            {{message|safe}}
           
        </li>
        {% endfor %}
    </ul>
    {% endif %}