{% load static %}

<div class="container">
  <div class="nav-bar">
    <ul>
      <li>
        <a href="#">
          <span class="icon">
            <ion-icon name="logo-apple"></ion-icon>
          </span>
          <span class="title">Event Tracker</span>
        </a>
      </li>
      <li>
        <a href="{% url 'event_list'%}">
          <span class="icon">
            <ion-icon name="logo-apple"></ion-icon>
          </span>
          <span class="title">Create Event</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
          <span class="title">Event category</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
          <span class="title">Assign Event</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
          <span class="title">reports</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
          <span class="title">logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
