{% extends "admin/root.html" %}
{% load static %}
{% block title %}Create event{% endblock title %}
{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <a href="#addnew" data-toggle="modal" class="btn btn-success btn-sm btn-flat">
            <i class="fa fa-plus"></i> Add New event
          </a>
        </div>
         {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} id="message_{{ forloop.counter }}">
            {{ message }}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        <div class="box-body">
          {% if events %}
          <table id="example1" class="table table-bordered table-hover table-striped">
            <thead style="background-color: #222D32; color:white;">
              <th>Category</th>
              <th>Title</th>
              <th>Description</th>
              <th>Venue</th>
              <th>Location</th>
              <th>Start date</th>
              <th>End Date</th>
              <th>Status</th>
              <th>Action</th>
            </thead>
            <tbody>
              {% for event in events %}
              <tr>
                <td>{{ event.event_type }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.venue }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.get_status_display}}</td>
                <td>
                  <a href="{% url 'getAssignment' evenT_id=event.id %}" class='btn btn-info btn-sm view btn-flat'>
                    <i class='fa fa-eye'></i> View
                  </a>
                   <a href="{% url 'editEvent' eventId=event.id %}" class='btn btn-primary btn-sm edit btn-flat'>
                    <i class='fa fa-edit'></i> Edit
                  </a>
                  <a href="{% url 'deleteEvent' eventId=event.id %}" class='btn btn-danger btn-sm delete btn-flat'>
                    <i class='fa fa-trash'></i> Delete
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No event available</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block modal %}
<!-- Add New Event Modal -->

{% load custom_filters %}
<div class="modal fade" id="addnew">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><b>Add New Event</b></h4>
      </div>
      
      <div class="modal-body">
        <form class="form-horizontal" method="POST" action="{% url 'viewEvents' %}">
          {% csrf_token %}                    
          <div class="row mb-4">
            <div class="col-sm-6">
              {% for field in form1 %}
                {% if field.name != 'start_date' and field.name != 'end_date' and field.name != 'description' %}
                  <div class="form-group px-4" style="width:250px; margin:auto;">
                    <span class="text-danger">{{ field.errors }}</span>
                    {{ field.label_tag }}
                    {{ field }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <span class="text-danger">{{ form1.start_date.errors }}</span>
                {{ form1.start_date.label_tag }}
                {{ form1.start_date }}
              </div>
              <div class="form-group">
                <span class="text-danger">{{ form1.end_date.errors }}</span>
                {{ form1.end_date.label_tag }}
                {{ form1.end_date }}
              </div>
              <div class="form-group">
                <span class="text-danger">{{ form1.description.errors }}</span>
                {{ form1.description.label_tag }}
                {{ form1.description }}
              </div>
             
          
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-flat pull-left" data-dismiss="modal">
              <i class="fa fa-close"></i> Close
            </button>
            <button type="submit" class="btn btn-success btn-flat" name="add">
              <i class="fa fa-save"></i> Save
            </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

{% endblock modal %}
{% block custom_js %}
<script>
  $(function () {
    // View assignments modal
    $(document).on('click', '.view-assignments', function(e) {
      e.preventDefault();
      $('#view-assignments').modal('show');
      var id = $(this).data('id');
      loadAssignments(id);
    });

    // Fade out messages after 3 seconds
    setTimeout(function() {
      $('.messages').fadeOut('slow'); 
    }, 3000);
  }); 

  
</script>

{% endblock custom_js %}

